<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 " style="background: #eaeaea!important;color:gray">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4" style="word-spacing: 5px;">Food  For  All  Nationality</h5>
          <p></p>
          <p>Even though we serve Sri Lankan traditional food, We have food to all the other nationality customers too. Take-Out, Catering & Delivery. Located in Scarborough. Uber Eats & Doordash available.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">Navigation</h5>

          <ul class="list-unstyled" >
            <li>
              <p>
                <a  routerLink="/home" routerLinkActive="active" style="color: gray;">Home</a>
              </p>
            </li>
            <li>
              <p>
                <a  routerLink="/menu" routerLinkActive="active" style="color: gray;">Menu</a>
              </p>
            </li>
            <!-- <li>
              <p>
                <a routerLink="/Service" routerLinkActive="active">Service</a>
              </p>
            </li>
            <li>
              <p>
                <a routerLink="/AboutUs" routerLinkActive="active">About Us</a>
              </p>
            </li> -->
            <li>
              <p>
                <a  routerLink="/ContactUs" routerLinkActive="active" style="color: gray;">Contact Us</a>
              </p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i> 2677 Eglinton Ave E,
                Scarborough, ON M1K 2S3</p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> info@steamboatcanada.com</p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i>  437-237-8385</p>
            </li>
            <!-- <li>
              <p>
                <i class="fas fa-print mr-3"></i>  437-237-8385</p>
            </li> -->
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

          <!-- Facebook -->
          <div style="padding: 10px;">
            <a type="button" class="btn-floating btn-fb" href="https://www.facebook.com/SteamBoatKitchen/">
              <i class="fab fa-facebook-f fa-2x" style="color: gray;"></i>
            </a>
          </div>
          <div style="padding: 10px;">
            <a type="button" class="btn-floating btn-tw">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </div>
          <!-- Google +-->
          <!-- <a type="button" class="btn-floating btn-gplus">
            <i class="fab fa-google-plus-g"></i>
          </a> -->
          <!-- Dribbble -->
          <!-- <a type="button" class="btn-floating btn-dribbble">
            <i class="fab fa-dribbble"></i>
          </a> -->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: black;padding-bottom: 0px!important;"><strong>© 2020 Copyright:All Rights Steam Boat Kitchen</strong></div>
    <div class="footer-copyright text-center py-3" style="color: black;">Design By
      <a href="https://greenwinmedia.com/"><img src="./assets/img/greenWinMediaLogo.png" style="height: 4vh;"></a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
