<div class="container">
    <div class="row" style="padding-top: 50px; padding-bottom: 50px;">
        <button *ngFor="let mennu of mennu"  class="btn btn-success" style="margin: 5px;" (click)="getProducts(mennu.mId)">
            {{mennu.mName}}
        </button>
    </div>
    <!-- <div class="row"> -->
        <!-- <div class="col-md-3">
            <div *ngFor="let mennu of mennu">
                <div  >
                    <p > {{mennu.mName}}</p>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-md-9"> -->
    <div class="row"style="height: auto;border-radius: .5rem;padding:5px;margin-right:-10px!important;margin-left:-10px!important; background-color: whitesmoke;margin-bottom: 50px;">
        <div class="col-md-6" style="height: auto;padding:5px;max-height: 300px;overflow: hidden;border-radius: .5rem;">
            <img src="{{PHP_API_SERVER}}/api/{{oneMennuItem[0].mImg}}" alt="{{oneMennuItem[0].mName}}" style="border-radius: .5rem;width: 100%;" >
        </div>
        <div class="col-md-6 my-auto" style="padding: 5px;text-align: center;">       
            <h1><strong>{{oneMennuItem[0].mName}}</strong></h1>
            <p>{{oneMennuItem[0].mDiscription}}</p>
        </div>
    </div>
    <div class="row" style="margin-bottom:50px">
        <div *ngFor="let products of products" class="col-md-3 col-xsm-6" style="padding: 5px;margin-left: 0px!important;" >
            <div class="row" style="width: 100%;margin-left: 0px!important;border:1px solid green;height: auto;border-radius: .5rem;padding:5px;height: 100%;">
                <div class="" style="width: 100%;overflow: hidden; height:auto;">
                    <img class="hoverZoom" src="{{PHP_API_SERVER}}/api/{{products.pImg}}" alt="{{products.pName}}" style="width:100%;height:auto;border-radius: .5rem;"> 
                </div>
                <div class="column" style="width: 70%; ">
                    <h3><strong>{{products.pName}}</strong></h3>
                </div>
                <div class="column" style="width: 30%;">
                    <h3><strong>${{products.price}}</strong></h3>
                </div>
                <div style="width:100%">
                    <p>{{products.discription}}</p>
                </div>
                <div>
                    <button mat-raised-button (click)="itemAddToCart(products)">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
        <!-- </div> -->
    <!-- </div> -->
</div>
