<div class="container">
    <div class="row" style="padding: 10px;">
        <div class="col-md-9" style="text-align: center;">
            <h1><strong>{{title}}</strong></h1>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" (click)="viewOrAddProductShow()">{{buttonText}}</button>
        </div>
    </div>
    <div class="row"  *ngIf="add">
        <div class="col-md-6">
           <div>
                <div *ngIf="uploadResponse && uploadResponse.status === 'error'" class="error">
                    <p>{{uploadResponse.message}}</p>
                </div>
                <div *ngIf="uploadResponse && uploadResponse.status === 'success'" class="success">
                <!-- <img [src]='uploadResponse.url' style="width:100px;height:auto" /> -->
                    <p>{{uploadResponse.message}}</p>
                </div>
            
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" class="form-control" formControlName="productName" id="productName" placeholder="Enter Product Name">
                    </div>

                    <div class="form-group">
                        <label for="productDiscription">Product Discription</label>
                        <input type="text" class="form-control" formControlName="productDiscription" id="productDiscription"  placeholder="Enter Product Discription">
                    </div>

                    <div class="form-group">
                        <label for="productPrice">Product Price</label>
                        <input type="number" class="form-control" formControlName="productPrice" id="productPrice"  placeholder="Enter Product Price">
                    </div>

                    <div class="from-group" *ngIf="!edit">
                        <label for="productMenu">Product Menu</label>
                        <select  formControlName="productMenu" id="productMenu" class="form-control">
                            <option *ngFor="let mennu of mennu" value="{{mennu.mId}}" selected>{{mennu.mName}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="carouslImag">Product Image</label><br>
                        <input type="file" id="carouslImage" name="avatar" (change)="onFileSelect($event)" />
                    </div>     
                    <button class="btn btn-primary" type="submit">Upload</button>
                </form>
            </div> 
        </div>
    </div>
    <div class="row" *ngIf="view">
        <div class="col-md-12">
            <from [formGroup]="form">
                <div class="from-group" style="margin-bottom: 50px;">
                    <label for="productMenu">Select Menu</label>
                    <select  formControlName="productMenu" id="productMenu" class="form-control" (change)="getProducts($event.target.value)">
                        <option *ngFor="let mennu of mennu" value="{{mennu.mId}}" selected>{{mennu.mName}}</option>
                    </select>
                </div>
            </from>     
            <div class="">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <!-- <th scope="col"></th> -->
                        <th scope="col">Product Name</th>
                        <th scope="col">Discription</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let products of products">
                        <!-- <th scope="row">1</th> -->
                        <td>{{products.pName}}</td>
                        <td>{{products.discription}}</td>
                        <td>{{products.price}}</td>
                        <td><img src="{{PHP_API_SERVER}}/api/{{products.pImg}}" style="width: 100px;height: auto;"></td>
                        <td>{{products.pStatus}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteProduct(products.pId)">Delete</button>
                            <button class="btn btn-primary" (click)="editProductView(products)">Edit</button>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>